<div class='row no-gutters'>
  <div class='col-xl-4'>
    <div class='leftside'>
      <div class="logo">
        <%= image_tag("logo.jpg", :class => "mx-auto d-block") do %>
          Test
        <% end %>
      </div>
      <div class="form">
        <div class="card-text">
          <span class="login-title">WELCOME BACK</span>
        </div>
        <span class="card-text description">Please login to your account</span>
        <%= form_for(:session, url: login_path) do |f| %>

          <%= f.label 'Mobile Number or Email', class: 'red-label' %>
          <%= f.email_field :email, class: 'line-field' %>

          <%= f.label :password, class: 'red-label' %>
          <%= f.password_field :password, class: 'line-field' %>

          <%= link_to "Forgot your password?", login_path, class: 'forgot-password-link' %>

          <%= f.submit "Login", class: "login-button one-edge-shadow" %>
        <% end %>
      </div>
      <div class="floating-button">
        suganya
      </div>
    </div>
  </div>
  <div class="col-xl-8">
    <div class='rightside'>
      <div class="carousel-div">
      <div id="demo" class="carousel slide" data-ride="carousel">

        <!-- Indicators -->
        <ul class="carousel-indicators">
          <li data-target="#demo" data-slide-to="0" class="active"></li>
          <li data-target="#demo" data-slide-to="1"></li>
          <li data-target="#demo" data-slide-to="2"></li>
        </ul>

        <!-- The slideshow -->
        <div class="carousel-inner">
          <div class="carousel-item active">
            <%= image_tag("landing_banner_1.jpg", width: "500", height: "440") do %>
              Test
            <% end %>
          </div>
          <div class="carousel-item">
            <%= image_tag("landing_banner_1.jpg", width: "500", height: "440") do %>
              Test
            <% end %>
          </div>
          <div class="carousel-item">
            <%= image_tag("landing_banner_1.jpg", width: "500", height: "440") do %>
              Test
            <% end %>
          </div>
        </div>

      </div>
      </div>
    </div>
  </div>
</div>
